/* CSS designed by Robert M. Erickson */
/*** Sick, Syllabus, Grades -- STEPHANIE ****/
/**** Assignments, Lectures, Resources -- SARA *****/
/**** Calendar, Submit Assignment -- KEVIN****/ 
/***** GENERAL STYLES DESKTOP*******/
@media screen and (min-width: 400px) and (max-width: 1800px){
    @import url('reset.css');


/******** GENERAL HTML *********/
html{
    position: relative;
    background: url(http://4.bp.blogspot.com/-XNtiZDWLWZY/UmlZqKP0QSI/AAAAAAAACS8/qjd0iFDbzf0/s1600/17550014.JPG) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
body{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        color: #1e2124;
        width: 100%;
        padding: 0;
        background-color: rgba(255,255,255, 0.77);
        width: 80%;
        margin:0 auto;
        padding:2% 2%;
    }
h1{
    font-weight: bold;
    font-size: 1.5em;
}
h2{
    font-weight: bold;
    font-size: 1.3em;
}
h3{
    font-weight: bold;
    font-size: 1.1em;
}
h4{
    font-weight: bold;
    font-size: 0.9em;
}

/************ LINKS **************/
 #classtitle{
        font-size: 2em;
        text-align: center;
        background-color: 

    }
    #classtitle a:link{
        text-decoration: none;
        color: #1e2124;
        border-bottom: 1px dashed #1e2124;
    }
    #classtitle a:visited{
        color: #1e2124;
    }
    #classtitle a:hover{
        color: #4b7582;
        border:none;
    }

    ol li.menuLink a:link{
        text-decoration: none;
        color: #1e2124;
    }
    ol li.menuLink a:visited{
        color: #1e2124;
    }
    ol li.menuLink:hover{
        background-color: #d9e6f6;
        color: #1e2124;
        /*border: 1px solid #1e2124;*/
    }

    li.video a:link, li.link a:link, a.url:link {
        text-decoration: none;
        color: #1e2124;
        border-bottom: 1px dashed #1e2124;
    }
    li.video a:visited, li.link a:visited, a.url:visited{
        color: #1e2124;
    }
    li.video a:hover, li.link a:hover, a.url:hover{
        color: #4b7582;
        border:none;
        
    }
/*############# HEADER ##################*/
    #studentInfo{
        width:100%;
        margin:1% 0 1% 0;
        padding: 1% 0%;
        border-top: 2px solid #1e2124;
        border-bottom: 2px solid #1e2124;
    }
/*########## NAVIGATION #################*/
  /*  #mainMenu{
        border-bottom: 2px solid #1e2124;
    }*/
    #mainMenu ol{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin:0;
    }
    #mainMenu ol li{
        display: inline-block;
        flex:1;
        text-align: center;
        padding-top:5px;
        margin:5px;
        border: 1px solid #1e2124;
        border-radius: 20px;
    }

   








}